:root {
    --colorPrimary: #1073ba;
    --colorSecondary: #00da55;
    --gray: #3b3b3b;
    --white: #fff;
    --black: #1f1e1e;
    --grayLigth: #e1e1e1;

    --separation: 5rem;

    --fontPrimary: 'Roboto', sans-serif;
    --fontSecondary: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontPrimary);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Globals */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fontSecondary);
    margin: calc(var(--separation) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
}

/* Utilidades */
.text-center {
    text-align: center;
}

/* Degrees */
.gradient-green {
    color: transparent;
    background: linear-gradient(to right, var(--colorPrimary) 0%, var(--colorSecondary) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/* HEADER */
.header {
    background-color: var(--black);
    padding: calc(var(--separation)*3) 0;
    color: var(--white);
}

.header img {
    width: 100%;
    height: auto;
}

@media(min-width: 768px) {
    .content-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.text-header {
    text-align: center;
    padding-top: var(--separation);
}

.text-header p {
    margin: 0;
}

@media(min-width: 768px) {
    .text-header {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}

.tagline-product {
    font-size: 3rem;
    font-weight: 900;
}

.name-product {
    font-size: 6rem;
    margin: 0;
}

@media(min-width: 768px) {
    .name-product {
        font-size: 10rem;
        line-height: 1;
    }
}

.price-product span {
    font-size: 6rem;
    font-weight: 900;
}

/* ICONS */
.icons {
    padding: var(--separation) 0;
}

@media(min-width: 768px) {
    .icons {
        display: flex;
        gap: 2rem;
    }
}

.icon {
    text-align: center;
    margin-bottom: calc(var(--separation) / 2);
}

.icon:last-of-type {
    margin: 0;
}

@media(min-width: 768px) {
    .icon {
        margin: 0;
    }
}

.icon img {
    width: 5rem;
    margin: 0 auto;
}

.icon h3 {
    color: var(--colorPrimary);
    text-transform: uppercase;
    margin-top: calc(var(--separation) /2);
}