:root {
    --colorPrimary: #1073ba;
    --colorSecondary: #00da55;
    --gray: #3b3b3b;
    --white: #fff;
    --black: #1f1e1e;
    --grayLigth: #e1e1e1;

    --separation: 5rem;

    --fontPrimary: 'Roboto', sans-serif;
    --fontSecondary: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontPrimary);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Globals */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fontSecondary);
    margin: calc(var(--separation) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
}

/* Utilidades */
.text-center {
    text-align: center;
}

/* Degrees */
.gradient-green {
    color: transparent;
    background: linear-gradient(to right, var(--colorPrimary) 0%, var(--colorSecondary) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/* HEADER */
.header {
    background-color: var(--black);
    padding: calc(var(--separation)*3) 0;
    color: var(--white);
}

.header img {
    width: 100%;
    height: auto;
}

@media(min-width: 768px) {
    .content-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.text-header {
    text-align: center;
    padding-top: var(--separation);
}

.text-header p {
    margin: 0;
}

@media(min-width: 768px) {
    .text-header {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}

.tagline-product {
    font-size: 3rem;
    font-weight: 900;
}

.name-product {
    font-size: 6rem;
    margin: 0;
}

@media(min-width: 768px) {
    .name-product {
        font-size: 10rem;
        line-height: 1;
    }
}

.price-product span {
    font-size: 6rem;
    font-weight: 900;
}

/* ICONS */
.icons {
    padding: var(--separation) 0;
}

@media(min-width: 768px) {
    .icons {
        display: flex;
        gap: 2rem;
    }
}

.icon {
    text-align: center;
    margin-bottom: calc(var(--separation) / 2);
}

.icon:last-of-type {
    margin: 0;
}

@media(min-width: 768px) {
    .icon {
        margin: 0;
    }
}

.icon img {
    width: 5rem;
    margin: 0 auto;
}

.icon h3 {
    color: var(--colorPrimary);
    text-transform: uppercase;
    margin-top: calc(var(--separation) /2);
}

/* About - US */
.about-us {
    background-image: linear-gradient(to bottom, transparent 50%, var(--colorPrimary) 0%), url(../img/imagen-mujer.jpg);
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 110rem;
}

@media(min-width: 768px) {
    .about-us {
        background-image: linear-gradient(to left, transparent 50%, var(--colorPrimary) 0%), url(../img/imagen-mujer.jpg);
        background-repeat: repeat, no-repeat;
    }
}

@media(min-width: 1600px) {
    .about-us {
        background-size: 100%, 210rem;
    }
}

.about-us-grid {
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: var(--separation);
}

@media(min-width: 768px) {
    .about-us-grid {
        grid-template-rows: unset;
        row-gap: unset;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        padding: calc(var(--separation)*2) 0;
    }
}

.text-about-us {
    grid-row: 2/3;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: var(--separation);
}

@media(min-width: 768px) {
    .text-about-us {
        padding-bottom: 0;
    }
}

.text-about-us h2 {
    font-size: 4rem;
}

.text-about-us p {
    font-size: 2rem;
    line-height: 2;
}


/* MODELS */
.models {
    padding: var(--separation) 0;
}

.header-models {
    font-size: 6rem;
    margin-bottom: var(--separation);
}

.list-models {
    display: flex;
    flex-direction: column-reverse;
}

@media(min-width: 992px) {
    .list-models {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 20rem);
        gap: 4rem;
    }
}

.model {
    background-color: var(--grayLigth);
    margin-bottom: 2rem;
    padding-left: 4rem;
    color: var(--colorPrimary);
    border-radius: 2rem;
    min-height: 20rem;
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-property: transform background-size;
    transition-duration: 300ms;
}

.model:hover {
    transform: scale(1.1);
    background-size: 30rem;
}

.model h3 {
    font-size: 2.4rem;
}

.model .price {
    font-size: 4rem;
    font-weight: 900;
    line-height: 0;
}

.model:first-of-type {
    margin-bottom: 0;
}

.model-x {
    background-image: url(../img/modelo-x.svg);
}

.model-y {
    background-image: url(../img/modelo-y.svg);

}

.model-z {
    background-color: var(--colorPrimary);
    color: var(--white);
    background-image: url(../img/modelo-z.svg);
}

@media(min-width: 992px) {

    .model {
        margin-bottom: 0;
    }

    .model-z {
        grid-column: 2 / 3;
        grid-row: 1/ 3;
        background-size: 25rem;
    }

    .model-z h3 {
        font-size: 4rem;
    }
}

.model-z .price {
    font-size: 6rem;
}